# SPDX-License-Identifier: Apache-2.0

name: Test

on:
  push:
    branches:
      - "main"
    paths:
      - '**.py'
      - 'src/instructlab/schema/v*/**/*.json'
      - 'pyproject.toml'
      - 'tox.ini'
      - 'scripts/**'
      - '.github/workflows/test.yml' # This workflow
  pull_request:
    branches:
      - "main"
    paths:
      - '**.py'
      - 'src/instructlab/schema/v*/**/*.json'
      - 'pyproject.toml'
      - 'tox.ini'
      - 'scripts/**'
      - '.github/workflows/test.yml' # This workflow

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test:
    name: "${{ matrix.python }} on ${{ matrix.platform }}"
    runs-on: "${{ matrix.platform }}"
    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
        platform:
          - "ubuntu-latest"
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: "Checkout"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: "Setup Python ${{ matrix.python }}"
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: ${{ matrix.python }}

      - name: "Install tox"
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh

      - name: "Unit tests"
        run: |
          tox
